.search-card {
    width: 500px;
    max-height: 90vh;
    position: absolute;
    top: 30px;
    overflow: hidden;
    border-radius: 0.4rem !important;
}

.global-search-result-row {}

.result-header {
    background-color: #efefefba;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 6px;
}

.global-search-result-row .result-body {
    padding: 5px;
    border: 1px solid #f1f1f173;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 100%;
}
.global-search-result-row .result-body a{
    display: block;
    width: 100%;
}
.search-card-body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.search-card-body::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the track */
}

.search-card-body::-webkit-scrollbar-thumb {
    background: #888;
    /* color of the scroll thumb */
    border-radius: 6px;
    /* roundness of the scroll thumb */
}

.search-card-body::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* color of the scroll thumb when hovered */
}

.global-search-result-row .result-body:hover {
    background-color: #efefefba;
}
